/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-description {
	background-color: #22313F;
	color: #D2D7D3;
	text-align: center;
	border-radius: 7px;
	display: table;
}

.p4c-description .content {
	display: table-cell;
	vertical-align: middle;
}

.p4c-description span.title,
.p4c-description span.info {
	display: block;
}

.p4c-description span.title {
	font-size: 0.9em;
	padding-bottom: 3px;
}

.p4c-description span.info {
	font-size: 0.8em;
}

.p4c-description a {
	color: #81CFE0;
	text-decoration: none;
}

.p4c-description a:hover {
	color: #52B3D9;
}
