/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * TimeFilter styles
 */

.leaflet-control-timefilter {
	background-color: #fff;
}

.leaflet-control-timefilter .hidden {
	display: none;
}

/*
 * Button
 */

.leaflet-control-timefilter-button {
	display: inline-block;
}

.leaflet-control-timefilter-button a {
	cursor: pointer;
}

.leaflet-control-timefilter-button a img {
	width: 70%;
	margin: 15%;
	vertical-align: middle;
}


/*
 * Inputs
 */

.leaflet-control-timefilter-filter {
	border-radius: 4px;
	display: inline-block;
}

.leaflet-control-timefilter-filter > * {
	vertical-align: middle;
}

.leaflet-control-timefilter-filter img {
	height: 20px;
	margin-left: 7px;
	margin-right: 4px;
}

.leaflet-control-timefilter-filter input {
	margin: 5px;
	background-color: #e5e9ea;
	border: 1px solid #bbb;
	padding: 3px;
	width: 100px;
}

.leaflet-control-timefilter-filter button {
	display: inline;
	background-color: #D0D4D7;
	margin-right: 7px;
	width: auto;
}

.leaflet-control-timefilter-filter button:hover {
	display: inline;
	background-color: #e3e5e7;
	width: auto;
}
