/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-loading {
	background-color: #6C7A89;
	color: #D2D7D3;
}

.p4c-loading .sources-container {
	width: 100%;
	/*height: 85%; for skip button */
	height: 100%;
	display: table;
}

.p4c-loading .sources {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.p4c-loading .source {
	display: inline-block;
	width: 300px;
	height: 200px;
	vertical-align: middle;
	margin: 20px;
}

.p4c-loading .source .source-name,
.p4c-loading .source .source-status {
	height: 100%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.p4c-loading .source .source-name {
	text-align: center;
	width: 70%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.p4c-loading .source .source-status {
	text-align: left;
	width: 30%;
}

.p4c-loading .source img {
	max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.p4c-loading .source .source-name img {
	background: #fffc;
	border-radius: 10px;
}

.p4c-loading .source .source-status img {
	max-width: 80%;
}

/*.p4c-loading .pass {
	width: 100%;
	height: 15%;
	text-align: center;
	position: relative;
}

.p4c-loading .pass a {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	height: 90%;
	cursor: pointer;
	font-size: 1.3em;
}

.p4c-loading .pass a img {
	height: 64px;
	max-height: 100%;
	vertical-align: middle;
}*/
