/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-messages {
	background-color: #22313F;
	color: #D2D7D3;
	text-align: center;
	border-radius: 7px;
	display: table;
}

.p4c-messages a {
	color: #89C4F4;
}

.p4c-messages.alert a,
.p4c-messages.error a {
	color: #446CB3;
}

.p4c-messages.alert {
	background-color: #e9d460;
	color: black;
}

.p4c-messages.error {
	background-color: #D24D57;
	color: white;
}

.p4c-messages.hidden {
	visibility: hidden;
}

.p4c-messages .content {
	display: table-cell;
	vertical-align: middle;
}
