/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * P4C CSS bundle
 */

/** Node modules imports **/
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet-geosearch/src/css/l.geosearch.css";
@import "../../node_modules/leaflet-easybutton/src/easy-button.css";
@import "../../node_modules/pikaday/css/pikaday.css";
@import "./leaflet-messagebox.css";

/** Own CSS includes **/
@import "./P4C.Control.css";
@import "./P4C.Description.css";
@import "./P4C.Messages.css";
@import "./P4C.TimeFilter.css";
@import "./P4C.ProviderFilter.css";
@import "./P4C.Loading.css";
@import "./P4C.WhatsNext.css";
@import "./P4C.Progress.css";
@import "./P4C.AreaSelector.css";
@import "./P4C.Player.css";
@import "./P4C.PlayerPage.css";
@import "./P4C.Main.css";

/** General style **/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #34495E;
	font-family: Arial, sans;
}

a {
	color: #1E8BC3;
	text-decoration: none;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: #22313F;
	color: #d2d7d3;
	border-bottom: 1px solid black;
}

header img.logo {
	height: 40px;
	margin: 5px 10px;
}

header span.catch {
	float: right;
	font-style: italic;
	line-height: 50px;
	vertical-align: middle;
	margin-right: 10px;
}
