/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

#presentation {
	position: absolute;
	top: 51px;
	left: 0;
	right: 70%;
	bottom: 0;
	overflow-y: scroll;
	margin: 0;
	padding: 10px;
}

#pic4carto {
	position: absolute;
	top: 51px;
	left: 30%;
	right: 0;
	bottom: 0;
}

img.block {
	display: block;
	margin: 0 auto;
}

#presentation .catch {
	text-align: center;
	font-size: 1.1em;
	font-style: italic;
}

.selector {
	width: 100%;
	height: 100%;
}

/*.selectors {
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 10px;
	border-collapse: separate;
}

.selector {
	display: table-cell;
	width: 50%;
	height: 100%;
}*/
