/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-progress {
	background-color: #22313F;
	border-radius: 10px;
	position: relative;
	padding: 5px;
	height: 20px;
}

.p4c-progress > span.value {
	display: block;
	height: 100%;
	border-radius: 5px;
	background-color: #03A678;
	position: relative;
}

.p4c-progress > span.text {
	color: white;
	text-align: center;
	font-size: 0.9em;
	line-height: 20px;
	float: right;
	position: relative;
	z-index: 1;
	
}
